/* Page Styles */
body {
  background: white !important;
  padding-top: 10px !important;
}

.inline {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.row-center > div {
  text-align: center;
}

/* Chart Styling */
.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

svg {
  font: 10px sans-serif;
}

path {
  fill: rgba(0, 0, 0, 0.1);
  stroke: orange;
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/* Chart Tooltips */
#chart circle {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  font-weight: bold;
  line-height: 28px;
  background: white;
  border: 2px solid orange;
  border-radius: 8px;
  pointer-events: none;
}

/* Coin Flipping Image */
.flip {
  -webkit-perspective: 800;
   width: 50px;
   height: 50px;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 32px;
}
.flip .coin.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .coin {
  margin-top: 7px;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .coin .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
  font-family: Georgia;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.flip .coin .front {
  background: url(images/Bitcoin.png);
  background-size: contain;
  position: absolute;
  z-index: 1;
  color: white;
  cursor: pointer;
}
.flip .coin .behind {
  background: url(images/Bitcoin.png);
  background-size: contain;
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
}
